.btn{
    background-color: black;
      color:white;
      text-align: center    ;
     
      justify-content: center;
      
  }
  .nav {
      background-color: black;
      color:white;
      
  }
  .mov {
    background-color: black;
    color:white;
    margin-bottom: 1%;
    
}
  .search{
      background-color: white;
  }

  .input {
      text-emphasis-color: white;
  }